body{
    display: grid;
    justify-content: center; 
}

#navigation, #gertportrait, #name{
    display: inline-flex;
}

#navigation li{
    padding: 20px;
    list-style-type: none;
}

#name, #gertportrait{
    justify-content: space-between;
    padding-left: 10%;
}

header{
    width: 840px;
    background-color: rgb(141, 227, 235);
}


#gertportrait{
    height: 250px;
    padding-top: 5%;
}